*{
    padding: 0px;
    margin: 0px;
}
.neww{
    background-image: url(https://th.bing.com/th/id/R.6917b1cdfdcc83150198376450d1b0d6?rik=HsliC%2b%2fNYan2qw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2f7%2f8%2f302180.jpg&ehk=eFlHQHnHGsE7gzJgvG%2bbuB0PXwuzeI6oazJ5fQFqpec%3d&risl=&pid=ImgRaw&r=0);
}